<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关于极品钢琴</title>
<style type="text/css">
body {
	background-image: url(../assets/drawable/ol.png);
}
.content {
	font-family: "Microsoft YaHei UI";
}
.ti {
	text-align: center;
	font-family: "Microsoft YaHei UI";
	font-size: 36px;
}
.txt {
	font-family: "Microsoft YaHei UI";
}
.subti {
	text-align: center;
}
</style>
</head>



<body>



<table width="802" height="" align="center">
　　 <tr>
　　 <td width="488"><p align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="ti"> 关于极品钢琴</span></p>
  <p>&nbsp;</p>
  <table width="796" border="0">
    <tr>
      <td width="326">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="content">梦想总是美好的，钢琴总是昂贵的，有了极品钢琴，你可以在手机端就能够弹奏钢琴了，体验一下指尖上的钢琴弹奏吧·.极品钢琴是一款类似于模拟钢琴的音乐益智游戏，内置了很多首流行歌曲让你通过游戏的方法来练习你的弹琴技巧，游戏的形式就如同当年非常火爆的劲乐团一样，通过下落的方块来弹出这首歌曲来挑战自己的弹奏水平。当滑块下降到琴键上方的一条线时，玩家需按下滑块所对应的琴键。不同于其他钢琴游戏的是，极品钢琴有更多的模式，更多的歌曲和乐章。该游戏中还有巧妙的加入了学习模式，你可以跟着提示学习弹奏。设置中提供了丰富的个性化设置。你完全可以打造自己的钢琴。</span></td>
      <td width="22">&nbsp;</td>
      <td width="434" align="center"><img src="../assets/drawable/banner/Welcome_logo.png" width="300" height="160" align="middle">
        <table width="434" border="0">
        <tbody>
          <tr>
            <td width="110">中文名</td>
            <td width="131">极品钢琴</td>
            <td width="80">制作人</td>
            <td width="136">tlypp，清欣boy</td>
          </tr>
          <tr>
            <td>原版名称</td>
            <td>JustPiano</td>
            <td>内容主题</td>
            <td>钢琴的组键弹奏</td>
          </tr>
          <tr>
            <td>游戏类型</td>
            <td>PUZ 益智类游戏</td>
            <td>游戏画面</td>
            <td>古典风格</td>
          </tr>
          <tr>
            <td>游戏平台</td>
            <td>Android平台</td>
            <td>最新版本</td>
            <td>V4.0ol</td>
          </tr>
          <tr>
            <td>开发商</td>
            <td>多来网络科技</td>
            <td>发行阶段</td>
            <td>正式版</td>
          </tr>
          <tr>
            <td>发行日期</td>
            <td>2012年1月</td>
            <td>主要角色</td>
            <td>钢琴</td>
          </tr>
        </tbody>
      </table></td>
    </tr>
  </table>
  <H3 align="center" class="txt"><span class="subti">本地游戏</span></H3>
  <DIV class="txt">游戏分为五个模式，分别是：<strong>新手模式</strong>，<strong>游戏模式</strong>，<strong>自由模式</strong>，<strong>钢琴键盘模式</strong>和<strong>欣赏模式</strong>。</DIV>
  <DIV class="txt">1.<strong>练习模式</strong>：如果你是一个新手，不懂得怎样玩钢琴的话，新手模式可以帮助你练习。钢琴落点是一定的，靠你去怎样按下它；</DIV>
  <DIV class="txt">2.<strong>游戏模式</strong>：如果你已经会练习极品钢琴的话，游戏模式会帮助你再提高一个档次。游戏落点会严格按照所设定的速度下降，会有一点难度；</DIV>
  <DIV class="txt">3.<strong>自由模式</strong>：你已经会熟练地掌握极品钢琴的特性的话，不妨试试这个自由模式。自由模式的落点速度是根据玩家的按键速度而下降的，也就是会说，我按下有多快，那么下一个滑块也就这么快；</DIV>
  <DIV class="txt">4.<strong>打开键盘</strong>：如果你已经会弹某些曲子了的话，那就在这里大显身手吧。键盘分为上下两层，在屏幕最顶端是整个键盘的缩略图，可以移动方框来改变音区，红色的框框是下面最底层的键盘区，绿色就是上面一层的键盘区；</DIV>
  <DIV class="txt">5.<strong>欣赏模式</strong>：如果碰到某些难题怎么办？欣赏模式可以帮助你，欣赏钢琴名家的钢琴风范。</DIV>
  <H3 align="center" class="txt"><span class="subti">联网游戏</span></H3>
  <DIV class="txt">联网游戏主要分为两部分，曲库和对战，花费几KB流量和一分钟的时间你就可以注册一个账号并联网游戏。</DIV>
  <DIV class="txt">1.<strong>曲库</strong>：在这里你可以尝试最新更新的曲目，并且挑战极限（夺冠军），所得分数计入资料总得分一项。</DIV>
  <DIV class="txt">2.<strong>对战</strong>：在这你可以遇到来自于全国各地的玩家，并且可以建立房间与其他玩家对战。这里也是各玩家们交友聊天听音乐的好去处。3.2版在对战大厅中集成了考级功能。根据曲子难易分为CL.1-CL.11共11等级。</DIV>
  <DIV class="txt">3.<strong>考级</strong>：1~3级第一阶——新手阶，4~6第二阶——进阶阶，7~9第三阶——高手阶，10级第四阶——大神阶<BR>
    第一阶考核曲目2首，第二阶考核曲目3首，第三阶考核曲目4首，第四阶考核曲目5首。<BR>
    考核曲目以一些经典的曲目为主。</DIV>
  <p>&nbsp;</p>
  <div align="center"></div>
　　 </td>
　　 </tr>
　　 </table>
</body>
</html>
