<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欢迎您的来访！</title>
<style type="text/css">
body {
	background-image: url(../assets/drawable/welcome.png);
}
.About_Auth {
	color: #090;
	font-family: "Microsoft YaHei UI";
	font-size: 36px;
	text-align: center;
}
a:link {
	color: #090;
	text-decoration: none;
}
a:visited {
	color: #090;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
</style>
</head>



<body>
<table width="802" height="100%" align="center">
  <tr>
　　 <td width="914">
　　 <div align="center">
  <table width="560" border="0">
    <tr>
  <td width="203">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../assets/drawable/banner/icon.png" width="144" height="144" /></td>
  <td width="17"></td>
    <td width="326"><img src="../assets/drawable/banner/Welcome_logo.png" width="300" height="160" /></td>
    </tr>
</table>
<p>&nbsp;</p>
<p><span class="About_Auth">
  <embed src="../assets/sound/index_bgm.mp3" width="0" height="0" autostart="true" loop="true"></embed>
</span></p>
<table width="630" border="0">
  <tr> </tr>
</table>


<table width="793" border="0">
  <tr>
    
    <td width="400" height="402"><p><img src="../assets/drawable/goto.gif" width="400" height="400" /></p>
    
    </td>
   <td width="383"><table width="386" height="337" border="0">
      <tr>
        <td width="78"><img src="../assets/drawable/for_arrow.png" width="64" height="64" /></td>
        <td width="298" align="left" class="About_Auth"><a href="main_mode.html" target="_self">进入主页</a><a href="layout/main_mode.html" target="_self"></a></td>
      </tr>
      <tr>
        <td><img src="../assets/drawable/for_arrow.png" width="64" height="64" /></td>
        <td class="About_Auth">站点地图</td>
      </tr>
      <tr>
        <td><img src="../assets/drawable/for_arrow.png" width="64" height="64" /></td>
        <td class="About_Auth"><a href="main_about.html">关于本站</a></td>
      </tr>
      <tr>
        <td height="83">&nbsp;</td>
        <td class="About_Auth">&nbsp;</td>
      </tr>
    </table></td>
  </tr>

</table>


 </div>
　　 
</td>
　　 </tr>
　　 </table>
</body>
</html>
